@use "../abstracts/variables" as v;

body {
  min-height: 100vh;
  background: v.$light-primary;
  color: v.$text-dark-color;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}
