// COLOR VARIABLES //

// Background //
$light-primary: #F8E9E3;
$dark-primary: #E1B7B1;
$dark-pink: #D6C2C3;
$light-pink: #F9D5D3;
$light-grey: #d9d9d9;
$dark-grey: #333333;
$light: #f9f9f9;

// Text //
$text-dark-color: #000000;
$text-light-color: #fff;


